* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;

}

@font-face {
    font-family: fuente;
    src: url(assets/fuente.ttf);
}

body {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

/* INICIO HEADER SECTION*/
.headerSection {
    overflow: hidden;
    width: 100%;
    height: 100PX;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 15px;
    position: sticky;
    top: 0px;
    background-color: #000;
    color: #fff;
}

.menusearchContainer {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 350px;

}

.headerMenu {
    border: solid 1px #fff;
    display: flex;
    height: 35px;
    font-size: 25px;
    padding: 15px;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    cursor: pointer;
    font-weight: bold;
    color: #fff;
}

.headerMenu:active {
    transform: translateY(2px);
}

.searchbox {
    border: solid 1px #fff;
    height: 35px;
    width: 100px;
    transition: all 0.5s;
    background-color: rgb(218, 214, 214);
}

.searchbox:focus {
    width: 200px;
    transition: all 0.5s;
}

.searchbox::placeholder {
    font-family: "Font Awesome 5 Free";
    font-weight: 700;
}

.headerSection img {
    height: 130px;

}

.profileSection {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 15px;
    width: 350px;
    font-size: 20px;
    cursor: pointer;
    font-weight: bold;
}

.profileSection img {
    border: solid 3px #17232f;
    background-color: #fff;
    border-radius: 50%;
    height: 60px;
}

.profileSection:active {
    transform: translateY(2px);
}

/*SECCION DE CATEGORIAS*/
.categoriesSection {
    position: sticky;
    top: 100px;
    width: 100%;
    height: 45px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: solid 5px #17232f;
    border-bottom: solid 5px #17232f;
    background-color: #6a7685;
}

.categoriesCard {
    font-size: 18px;
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

.categoriesCard:active {
    transform: translateY(2px);
}

.categoriesCard:nth-child(1):hover {
    transition: all 0.1s;
    color: #990f0f;
    ;
}

.categoriesCard:nth-child(2):hover {
    transition: all 0.1s;
    color: #0b3685;
}

.categoriesCard:nth-child(3):hover {
    transition: all 0.1s;
    color: #1048b2;
}

.categoriesCard:nth-child(4):hover {
    transition: all 0.1s;
    color: #1048b2;
}

.categoriesCard:nth-child(5):hover {
    transition: all 0.1s;
    color: #1048b2;
}

.categoriesCard:nth-child(6):hover {
    transition: all 0.1s;
    color: #1048b2;
}

/* dolarandWeatherSection */
.dolarandWeatherSection {
    display: flex;
    padding: 15px;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 50px;
    cursor: pointer;
    background-color: #6a7685;
    ;
}

.dolarContainer {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    background: none;

}

.dolarContainer p {
    font-size: 15px;
    background: none;
}

.dolarContainer i {
    background: none;
}
/*SECCION DE NOTICIA DEL HTML RENDERROTICIA*/
.noticiaSecition{
width: 70%;
display: flex;
flex-direction: column;
gap: 20px;
align-self: flex-start;
padding-left: 30px;
padding-top: 15px;
}
.noticiaSecition h4{
    align-self: flex-end;
}
.imgContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.imgContainer img{
    width: 100%;
}

.noticiaSecition h2{
    font-weight: bold;
    color: #0059ff;
}

.noticiaSecition h1{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight:bold;
font-size: 50px;
}


.noticiaContainer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
}

.noticiaContainer p:first-child::first-letter {
    float: left;
    font-size: 60px;
    line-height: 40px;
  margin-right: 5px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bolder;
   }

.comentsSection{
    height: 150px;
}
.footer {
    background-color: #000;
    margin-bottom: 0;
    width: 100%;
    border-top: 3px solid rgb(0, 0, 0);
    padding: 5px;
}

.footer__container {
    margin: auto;
    padding: 0 1.5rem;
    overflow: auto;

}

.footer__top {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    row-gap: 2rem;
    background-color: transparent;
}

.footer__title {
    color: rgb(223, 221, 221);
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;

}

.footer__list {
    color: rgb(134, 133, 133);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    font-size: 15px;

}

.footer__list-item {
    list-style: none;

}

.footer__list-link {
    text-decoration: none;
    color: inherit;
    transition: color .25s;


}

.footer__list-link:hover {
    color: red;
}

.footer__divider {
    margin-block: 2.5rem;
    margin-bottom: 15px;
    border: 1px solid rgb(255, 255, 255);
}

.footer__bottom {
    color: #fff;
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
    align-items: center;
    font-size: 15px;

}

.footer__bottom span {
    color: red;
    font-weight: bolder;
}