* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', 'sans-serif';
}

@font-face {
    font-family: fuente;
    src: url(assets/fuente.ttf);
}

body {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

/* INICIO HEADER SECTION*/
.headerColorContainer {
    background-color: #fff;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0px;
    height: 100PX;
    z-index: 1;
}

.headerSection {
    overflow: hidden;
    width: 90%;
    height: 100PX;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 15px;


    background-color: #fff;
    color: #000;
    z-index: 15;
    font-family: 'Open Sans', 'sans-serif';
}

.menusearchContainer {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 350px;

}

.headerMenu {
    margin-left: 10px;
    padding: 15px;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    cursor: pointer;
    height: 90px;
    position: relative;
}




.container {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 40px;
    width: 45px;
    border-radius: 6px;
    background-color: none;
    display: flex;
    justify-content: center;
    cursor: pointer;
    transition: all 0.2s linear;
    overflow: hidden;
}

.container.active {
    background-color: #de0611;
}

.container .menu {
    position: relative;
    height: 100%;
    width: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu .line {
    position: absolute;
    height: 3px;
    width: 100%;

    border-radius: 6px;
    background-color: #181818;
    transition: all 0.4s linear;
}

.menu .line.one {
    top: 7px;
}

.container.active .line.one {
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
    background-color: #fff;
}

.menu .line.three {
    bottom: 6px;
}

.menu .line.two {
    left: 0;
    opacity: 1;
    width: 70%;
}

.container.active .line.two {
    left: -100%;
    opacity: 0;
    background-color: #de0611;
}

.container.active .line.three {
    bottom: 50%;
    transform: translateY(50%) rotate(-45deg);
    background-color: #fff;
}

.burgerSection {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 148px;
    backdrop-filter: blur(2px);
    display: none;
    z-index: 2;
    justify-content: flex-end;
}

.burguerMenuContainer {
    background-color:#3621ae;
    position: fixed;
    width: 300px;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    z-index: 52;

    left: 0px;
    border-bottom-right-radius: 15px;
    transition: all .5s linear;
 /*   overflow-y: scroll;*/

}
 
.burguerMenuContainer ul li{
    background-color:#3621ae;
    
}
.burguerMenuContainer  ul a {
    display:block;
    color:#fff;
    text-decoration:none;
    font-weight:bold;
    font-size:18px;
    padding:10px;
    text-transform:uppercase;
    letter-spacing:1px;
    text-align: center;
   }
   .burguerMenuContainer  ul li {
    position:relative;
    float:inline-end;
    margin:0;
    padding:0;
  text-align: center;
  transition: .5s ease;
  cursor: pointer;
  color:rgb(255, 255, 255);
   }
   .burguerMenuContainer ul li:hover {
    background:#5b78a7;
    transition: .8s ease;
   }
   .burguerMenuContainer ul ul {
    display:none;
    position:relative;
    top:100%;
    left:0;
 
    padding:0;
   }
   .burguerMenuContainer  ul ul li {
    float:none;
    width:300px;
   }
   .burguerMenuContainer  ul ul a {
    line-height:130%;
    padding:10px 15px;
   }
   .burguerMenuContainer ul li:hover > ul {
    display:block;
   }



/*
.burguerMenuContainer::-webkit-scrollbar {
    width: 12px;
 
 }

.burguerMenuContainer::-webkit-scrollbar-track {
    background: rgb(99, 99, 99);
    border-radius: 20px;
}

.burguerMenuContainer::-webkit-scrollbar-thumb {
    background-color: rgb(0, 0, 0);
    border-radius: 20px;
}
*/

.burgerActive {
    display: block;
    transition: all .5s linear;

}

.searchbox {
    border: solid 1px #fff;
    height: 35px;
    width: 100px;
    transition: all 0.5s;
    background-color: rgb(218, 214, 214);
    margin-left: 35px;
}

.searchbox:focus {
    width: 200px;
    transition: all 0.5s;
}

.searchbox::placeholder {
    font-family: "Font Awesome 5 Free";
    font-weight: 700;
}

.headerSection img {
    height: 100px;

}

.profileSection {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 15px;
    width: 350px;
    font-size: 20px;
    cursor: pointer;
    font-weight: bold;
}

.profileSection img {
    border: solid 3px #17232f;
    background-color: #fff;
    border-radius: 50%;
    height: 60px;
}

.profileContainer:active {
    transform: translateY(2px);
}

.profileContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 100%;
    display: none;
}

.notLoggedOnProfileContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
    width: 100%;
    color: rgb(0, 0, 0);
}

.notLoggedOnProfileContainer a {
    color: rgb(0, 0, 0);
}

.notLoggedOnProfileContainer a:active {
    transform: translateY(2px);
}

.notLoggedOnProfileContainer button {
    color: rgb(0, 0, 0);
    position: relative;
    padding: 10px 5px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    font-size: 18px;
    margin: 1em 0.8em;
    font-weight: bold;
    width: 140px;

}

.notLoggedOnProfileContainer button .type3 {
    color: black;
}

.type3::after,
.type3::before {
    content: '';
    display: block;
    position: absolute;
    width: 20%;
    height: 20%;
    border: 2px solid;
    transition: all 0.3s ease;
    border-radius: 2px;
}

.type3::after {
    bottom: 0;
    right: 0;
    border-top-color: transparent;
    border-left-color: transparent;
    border-bottom-color: black;
    border-right-color: black;
}

.type3::before {
    top: 0;
    left: 0;
    border-bottom-color: transparent;
    border-right-color: transparent;
    border-top-color: black;
    border-left-color: black;
}

.type3:hover:after,
.type3:hover:before {
    border-bottom-color: black;
    border-right-color: black;
    border-top-color: black;
    border-left-color: black;
    width: 100%;
    height: 100%;
}




.notLoggedOnProfileContainer button:active {
    transform: translateY(2px);
}

/*SECCION DE CATEGORIAS*/
.categoriesColorContainer {
    z-index: 2;
    position: sticky;
    top: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: solid 2px #17232f;
    border-bottom: solid 2px #17232f;
    background-color: #6a7685;
}

.categoriesSection {
    width: 90%;
    height: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-family: 'Open Sans', 'sans-serif';
}

.categoriesCard {
    font-size: 18px;
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

.categoriesCard:active {
    transform: translateY(2px);
}

.categoriesCard:nth-child(1):hover {
    transition: all 0.1s;
    color: #990f0f;
    ;
}

.categoriesCard:nth-child(2):hover {
    transition: all 0.1s;
    color: #0b3685;
}

.categoriesCard:nth-child(3):hover {
    transition: all 0.1s;
    color: #1048b2;
}

.categoriesCard:nth-child(4):hover {
    transition: all 0.1s;
    color: #1048b2;
}

.categoriesCard:nth-child(5):hover {
    transition: all 0.1s;
    color: #1048b2;
}

.categoriesCard:nth-child(6):hover {
    transition: all 0.1s;
    color: #1048b2;
}

/* dolarandWeatherSection */
.dolarandWeatherSection {
    display: flex;
    padding: 15px;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 50px;
    cursor: pointer;
    background-color: #6a7685;
    ;
}

.dolarContainer {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    background: none;

}

.dolarContainer p {
    font-size: 15px;
    background: none;
}

.dolarContainer i {
    background: none;
}

/*ESTILOS DEL FORM DE REGISTRO*/
.form {
    margin-left: 35px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    height: 650px;
    width: 450px;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    padding: 10px;
    box-shadow: 0 5px 10px -5px rgb(0 0 0 / 30%);

}

.form h2 {
    font-weight: bold;
    font-size: 35px;
    text-align: center;
}

.form_field {

    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 350px;
    height: 60px;
    position: relative;
    --color: #050303;
}

.form_field small {
    text-align: center;
    align-self: center;
    color: #990f0f;
}

.form_input {
    width: 100%;
    background: none;
    color: #050303;
    font-size: 1rem;

    padding: .6em .3em;
    border: none;
    outline: none;
    border-bottom: 1px solid var(--color);
    font-family: 'Open Sans', sans-serif;
    ;

}

.form_input:focus {
    border-bottom: 1px solid #3621ae;
}

.form_label {
    color: var(--color);
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 5px;
    transform: translateY(10px);
    transition: transform 0.2s, color .3s;

}

.form_input:focus+.form_label,
.form_input:not(:placeholder-shown)+.form_label {
    transform: translateY(-12px) scale(.9);
    transform-origin: left top;
    color: #3621ae;
}

.form_terms {
    font-size: 15px;
    text-align: center;
}

.form-buttonContainer {
    width: 100%;
    display: flex;
    justify-content: center;
}

.form_button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80px;
    background: #141414;
    color: #fff;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    font-weight: 500;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    transition: .3s ease all;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    z-index: 0;
}

.form_button span {
    text-align: center;
    position: relative;
    z-index: 3;
    transition: .3s ease all;
}

.success {
    border-bottom: 2px solid #458d1b;
}

.error {
    border-bottom: 2px solid #8d1b1b;
}

.form_button::after {
    content: "";
    width: 1px;
    height: 1px;
    background: none;
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transition: .3s ease-in-out all;
    border-radius: 100px;
    transform-origin: center;
}

.form_button:hover::after {
    transform: scale(500);
    background: #cc1010;
}

.form_imgContainer {
    width: 750px;



}

.background {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 700px;
    width: 100%;
    background-color: #3621ae;
    opacity: 1;
    background-image: radial-gradient(#6045f7 1.55px, transparent 1.55px), radial-gradient(#6045f7 1.55px, #3621ae 1.55px);
    background-size: 62px 62px;
    background-position: 0 0, 31px 31px;
}



/*SECCION DE NOTICIA DEL HTML RENDERROTICIA*/
.noticiaSecition {
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-self: flex-start;
    padding-left: 30px;
    padding-top: 15px;
}

.noticiaSecition h4 {
    align-self: flex-end;
}

.imgContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.imgContainer img {
    width: 100%;
}

.noticiaSecition h2 {
    font-weight: bold;
    color: #0059ff;
}

.noticiaSecition h1 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 50px;
}


.noticiaContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    font-size: 20px;
}

.noticiaContainer p:first-child::first-letter {
    float: left;
    font-size: 70px;
    line-height: 50px;
    margin-right: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
}

.comentsSection {
    height: 150px;
}

.footer {
    background-color: #000;
    margin-bottom: 0;
    width: 100%;
    border-top: 3px solid rgb(0, 0, 0);
    padding: 5px;
}

.footer__container {
    margin: auto;
    padding: 0 1.5rem;
    overflow: auto;

}

.footer__top {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    row-gap: 2rem;
    background-color: transparent;
}

.footer__title {
    color: rgb(223, 221, 221);
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;

}

.footer__list {
    color: rgb(134, 133, 133);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    font-size: 15px;

}

.footer__list-item {
    list-style: none;

}

.footer__list-link {
    text-decoration: none;
    color: inherit;
    transition: color .25s;


}

.footer__list-link:hover {
    color: red;
}

.footer__divider {
    margin-block: 2.5rem;
    margin-bottom: 15px;
    border: 1px solid rgb(255, 255, 255);
}

.footer__bottom {
    color: #fff;
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
    align-items: center;
    font-size: 15px;

}

.footer__bottom span {
    color: red;
    font-weight: bolder;
}